<p>
 Over the next five days, we’ll explore how cutting-edge machine learning (ML) and deep learning
 (DL) techniques are revolutionizing materials science—from accelerating the discovery of new
 materials to predicting their properties with unprecedented accuracy. This training is designed 
 for everyone, whether you're new to ML or seeking to apply it to your materials research.
 You’ll gain both foundational knowledge and hands-on experience to harness these powerful
 tools effectively.

This workshop, a collaborative initiative between the Centre for Space Research and Addis Ababa
 University (AAU), focuses on leveraging ML for material property prediction. Our goal is to
 enhance the precision and efficiency of these predictions, ultimately contributing to safer
 communities and more resilient infrastructure.

In addition, we’ll conduct a practical workshop to equip researchers with essential computing
 skills for maximizing research productivity. Topics will include data management, cleaning,
 analysis, and scientific report writing. Participants will be encouraged to collaborate and 
 directly apply these skills to their own research challenges.

Together, we’ll bridge theory and practice to empower your work in materials science and beyond.

</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
