<div class="row">
  
  <div class="col-md-3">
    <h3 id="syllabus-r">Introduction to Machine Learning</h3>
    <ul>
      <li>Essential Python Tools for Materials</li>
      <li>Materials Data Structures and Formats</li>
      <li>Loading Materials Datasets (Materials Project, OQMD)</li>
      <li>Feature Engineering for Materials (SOAP, MagPie)</li>
      <!--
      <li><a href="https://mesfind.github.io/ml-climate/00-virtual_environments/">Reference...</a></li>
      -->
    </ul>
  </div>
  
  <div class="col-md-3">
    <h3 id="syllabus-r"> ML Foundations for Materials</h3>
    <ul>
      <li>ML Applications in Materials Science</li>
      <li>Supervised Learning for Property Prediction</li>
      <li>Evaluation Metrics for Materials Models</li>
      <li>Pretrained Models (fairchem.core, UMA)</li>
      <li>Fine-tuning Formation Energy Models</li>
      <!--
      <li><a href="https://mesfind.github.io/molgnn/03-machine-learning/">Reference...</a></li>
      -->
    </ul>
  </div>
  
  <div class="col-md-3">
    <h3 id="syllabus-r">Deep Learning for Materials</h3>
    <ul>
      <li> Graph Representations of Materials</li>
      <li> Materials Graph Neural Networks(GNNs) </li>
      <li> GNN for Force Fields</li>
      <li> Relaxations and Simulations using the  Universal Potential </li>
      <li> Combining the Universal Potential with Property Prediction Models</li>
      <li> Training a Formation Energy Model</li>
      <li> Training a Potential Energy Surface</li>

      <!--
      <li><a href="https://mesfind.github.io/molgnn/04-deep-learning/">Reference...</a></li>
      -->
    </ul>
  </div>
  
  <div class="col-md-3">
    <h3 id="syllabus-shell">Materials Discovery</h3>
    <ul>
      <li>Active Learning Strategies</li>
      <li>Structure Generation with Enumlib</li>
      <li>High-Throughput Screening (XenonPy)</li>
      <li>Novel Battery Electrodes Discovery</li>
      <!--
      <li><a href="https://mesfind.github.io/molgnn/02-explanatory/">Reference...</a></li>
      -->
    </ul>
  </div>

</div>
